/*-- scss:defaults --*/

$body-color: #404041;
$headings-color: #447099;
$link-color: #EE6331;

$blue: #447099;
$orange: #EE6331;
$green: #72994E;
$red: #9A4665;
$indigo: #9A4665;
$cyan: #419599;
$teal: #419599;


$warning: #EE6331;
$info: #419599;
$success: #72994E;
$danger: #9A4665;
$caution: #EE6331;

/*-- scss:rules --*/

